manifest.contributors = [[name: 'Eugenio Mattei', affiliation: 'Broad Institute of MIT and Harvard']]
manifest.description = 'Combinomics is a Nextflow pipeline for the analysis of SHARE-seq multiomic data.'
manifest.mainScript = 'combinomics.nf'

docker.enabled = true
google.location = 'us-central1'
